Pillow>=4.1.1
redis>=2.10.5
mockredispy>=2.9.3

# blosc 1.7.0 fails intermittently in the lambda environment.  Pinning at
# 1.5.0 for now.
blosc==1.5.0
nose2
numpy>=1.11.1

# 1.3.8 adds cfn-lint which has an dependency on aws-sam-translator 1.11.0
# which breaks during installation with Python 3.5.
moto==1.3.7
boto3
hvac
