Pillow>=4.1.1
redis>=2.10.5

# blosc 1.7.0 fails intermittently in the lambda environment.  Pinning at
# 1.5.0 for now.
blosc==1.5.0
numpy>=1.11.1

boto3
hvac==0.6.3 # Pinned due to is_initialized call to check vault status being deprecated. Check: https://hvac.readthedocs.io/en/stable/source/hvac_v1.html
           # pin should be removed when merging with refactor
